<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-baidu" class="" data-id="group-a"><span>常用</span></label>
                        <label for="type-bing" data-id="group-b"><span>搜索</span></label>
                        <label for="type-zhihu" data-id="group-c"><span>社区</span></label>
                        <label for="type-taobao1" data-id="group-d"><span>生活</span></label>
                        <label for="type-soupian" data-id="group-e"><span>影视</span></label>
                        <label for="type-qianfan" data-id="group-f"><span>资源</span></label>
                        <label for="type-zhaopin" data-id="group-g"><span>求职</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.baidu.com?s=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" zhannei=""
                    placeholder="输入关键字搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a ">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-baidu"
                            value="https://www.baidu.com/s?wd=" data-placeholder="百度一下，你就知道">
			    <label for="type-baidu"><span class="text-muted">百度</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-bing"
                            value="https://cn.bing.com/search?q=" data-placeholder="微软 Bing 搜索">
                <label for="type-bing"><span class="text-muted">必应</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-bilibili"
                            value="https://search.bilibili.com/all?keyword=" data-placeholder="bilibili (゜-゜)つロ 干杯~">
                 <label for="type-bilibili"><span class="text-muted">哔哩哔哩</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-cupfox" 
			                 value="https://cupfox.app/s/" data-placeholder="茶杯狐 Cupfox 努力让找电影变得简单">
			    <label for="type-cupfox"><span class="text-muted">影视</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-zhiwang"
                            value="https://epub.cnki.net/kns/brief/default_result.aspx?txt_1_value1=%s&dbPrefix=SCDB&db_opt=CJFQ%2CCJFN%2CCDFD%2CCMFD%2CCPFD%2CIPFD%2CCCND%2CCCJD%2CHBRD&singleDB=SCDB&action=scdbsearch" data-placeholder="知网搜索/文章标题/关键字">
			    <label for="type-zhiwang"><span class="text-muted">文献</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-b ">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-baidu1"
                                value="https://www.baidu.com/s?wd=" data-placeholder="百度一下，你就知道"><label
                                for="type-baidu1"><span class="text-muted">百度</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-fsou"
                                value="https://fsoufsou.com/search?q=" data-placeholder="F搜 或许有超出百度的搜索体验"><label
                                for="type-fsou"><span class="text-muted">F搜</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-bing1"
                                value="https://cn.bing.com/search?q=" data-placeholder="微软 Bing 搜索"><label
                                for="type-bing1"><span class="text-muted">必应</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-sogo"
                                value="https://www.sogou.com/web?query=" data-placeholder="搜狗搜索"><label
                                for="type-sogo"><span class="text-muted">搜狗</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-sm"
                                value="https://yz.m.sm.cn/s?q=" data-placeholder="UC 移动端搜索"><label
                                for="type-sm"><span class="text-muted">神马</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-360"
                                value="https://www.so.com/s?q=" data-placeholder="360 好搜"><label
                                for="type-360"><span class="text-muted">360</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-c ">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-zhihu" value="https://www.zhihu.com/search?type=content&q=" data-placeholder="知乎">
                            <label for="type-zhihu"><span class="text-muted">知乎</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-wechat" value="https://weixin.sogou.com/weixin?type=2&query=" data-placeholder="微信">
                            <label for="type-wechat"><span class="text-muted">微信</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-weibo" value="https://s.weibo.com/weibo/" data-placeholder="微博">
                            <label for="type-weibo"><span class="text-muted">微博</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-douban" value="https://www.douban.com/search?q=" data-placeholder="豆瓣">
                            <label for="type-douban"><span class="text-muted">豆瓣</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-xiaohongshu" value="https://www.xiaohongshu.com/mobile/tags/s?name=" data-placeholder="小红书 用手机UA才能打开">
                            <label for="type-xiaohongshu"><span class="text-muted">小红书</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-d ">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-taobao1" value="https://s.taobao.com/search?q=" data-placeholder="淘宝">
                            <label for="type-taobao1"><span class="text-muted">淘宝</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-jd" value="https://search.jd.com/Search?keyword=" data-placeholder="京东">
                            <label for="type-jd"><span class="text-muted">京东</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-zdm" value="https://search.smzdm.com/?c=home&s=" data-placeholder="什么值得买 科学消费 认真生活">
                            <label for="type-zdm"><span class="text-muted">什么值得买</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-xiachufang" value="https://www.xiachufang.com/search/?keyword=" data-placeholder="下厨房">
                            <label for="type-xiachufang"><span class="text-muted">下厨房</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-xiangha" value="https://www.xiangha.com/so/?q=caipu&s=" data-placeholder="香哈菜谱">
                            <label for="type-xiangha"><span class="text-muted">香哈菜谱</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-12306" value="https://www.12306.cn/?" data-placeholder="12306">
                            <label for="type-12306"><span class="text-muted">12306</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-qunar" value="https://www.qunar.com/?" data-placeholder="去哪儿">
                            <label for="type-qunar"><span class="text-muted">去哪儿</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-e ">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-douyin" value="https://www.douyin.com/search/" data-placeholder="抖音">
                            <label for="type-douyin"><span class="text-muted">知乎</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-iqiyi" value="https://so.iqiyi.com/so/q_" data-placeholder="爱奇艺">
                            <label for="type-iyiqi"><span class="text-muted">爱奇艺</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-youku" value="https://www.soku.com/search_video/q_" data-placeholder="优酷">
                            <label for="type-youku"><span class="text-muted">优酷</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-tengxunshipin" value="https://v.qq.com/x/search/?q=" data-placeholder="腾讯视频">
                            <label for="type-tengxunshipin"><span class="text-muted">腾讯视频</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-xiguashipin" value="https://www.ixigua.com/search/" data-placeholder="西瓜视频">
                            <label for="type-xiguashipin"><span class="text-muted">西瓜视频</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-kuaishou" value="https://www.kuaishou.com/search/video?searchKey=" data-placeholder="快手">
                            <label for="type-kuaishou"><span class="text-muted">快手</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-soupian" value="https://soupian.xyz/search?key=" data-placeholder="搜电影">
                            <label for="type-soupian"><span class="text-muted">电影搜索</span></label></li>                      
                    </ul>
                </div>
                <div class="search-group group-f ">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-qianfan" value="https://pan.qianfan.app/search/?pan=all&q=" data-placeholder="千帆网盘搜索">
                            <label for="type-qianfan"><span  class="text-muted">网盘搜索</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-baiduwangpan" value="https://pan.baidu.com/disk/main?from=homeFlow#/index?category=all&search=" data-placeholder="百度网盘">
                            <label for="type-baiduwangpan"><span class="text-muted">百度网盘</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-baiduwenku" value="https://wenku.baidu.com/search?word=" data-placeholder="baiduwenku">
                            <label for="type-baiduwenku"><span class="text-muted">百度文库</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-github" value="https://github.com/search?q=" data-placeholder="github">
                            <label for="type-github"><span class="text-muted">Github</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-baidutupian" value="https://image.baidu.com/search/index?tn=baiduimage&ie=utf-8&word=" data-placeholder="百度图片">
                            <label for="type-baidutupian"><span class="text-muted">百度图片</span></label></li> 
                        <li><input hidden="" type="radio" name="type" id="type-huaban" value="https://huaban.com/search/?q=" data-placeholder="花瓣图片">
                            <label for="type-huaban"><span class="text-muted">花瓣</span></label></li>     
                    </ul>
                </div>
                <div class="search-group group-g ">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-zhaopin" value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw=" data-placeholder="智联招聘">
                            <label for="zhaopin"><span  class="text-muted">智联招聘</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-51job" value="https://search.51job.com/?" data-placeholder="前程无忧">
                            <label for="type-51job"><span class="text-muted">前程无忧</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-lagou" value="https://www.lagou.com/jobs/list_" data-placeholder="拉钩网">
                            <label for="type-lagou"><span class="text-muted">拉钩网</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-liepin" value="https://www.liepin.com/zhaopin/?key=" data-placeholder="猎聘网">
                            <label for="type-liepin"><span class="text-muted">猎聘网</span></label></li>
                    </ul>
                </div>
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
    <!--div class="bulletin-big mx-3 mx-md-0">
        <div id="bulletin_box" class="card my-2">
            <div class="card-body py-1 px-2 px-md-3 d-flex flex-fill text-xs text-muted">
                <div><i class="iconfont icon-bulletin" style="line-height:25px"></i></div>
                <div class="bulletin mx-1 mx-md-2 carousel-vertical">
                    <div class="carousel slide" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><a class="overflowClip_1"
                                    href="#">所长导航 - 用心精选每一个链接</a></div>
                            <div class="carousel-item "><a class="overflowClip_1"
                                    href="#">所长导航 - 有范的导航网站</a></div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill"></div>
                <a title="关闭" href="javascript:;" rel="external nofollow" class="bulletin-close"
                    onclick="$('#bulletin_box').slideUp('slow');"><i class="iconfont icon-close"
                        style="line-height:25px"></i></a>
            </div>
        </div>
    </div-->
</div>
